@import "nullstyle.css";

@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Regular.woff) format("woff"), url(../fonts/Lato-Regular.woff2) format("woff2");
	display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Bold.woff) format("woff"), url(../fonts/Lato-Bold.woff2) format("woff2");
	display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Black.woff) format("woff"), url(../fonts/Lato-Black.woff2) format("woff2");
	display: swap;
	font-weight: 900;
	font-style: normal;
}
body {
	font-family: "Lato";
	font-weight: 400;
	font-size: 16px;
	color: #424551;
}
.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}
.text-p1 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
}
.text-p2 {
	line-height: 1.6;
}
.text-p3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
}
.list {
	line-height: 1.6;
}
.list li {
	text-indent: 30px;
}
footer {
	font-size: 50px;
}
