@import "nullstyle.css";
header,
footer {
	font-size: 50px;
	text-align: center;
}
h2 {
	text-transform: uppercase;
	font-size: 40px;
	color: tomato;
	text-align: center;
}

ul > li {
	font-size: 10px;
	text-align: right;
}
ul > li > ul > li {
	font-size: 20px;
	text-align: center;
}
ul > li > ul > li > ul > li {
	font-size: 30px;
	text-align: left;
}
ul > li > ul > li > ul > li > ul > li {
	font-size: 40px;
	text-align: right;
}
