@import "nullstyle.css";

@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster:regular&display=swap");

@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-BlackItalic.woff) format("woff");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
.project {
	font-family: "Roboto";
	color: deeppink;
	font-size: 20px;
	line-height: 1.25;
}
.menu {
	font-family: "Lobster";
	color: red;
	font-size: 50px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 0.9;
	text-decoration: underline;
}
.menu a {
	color: rgba(129, 25, 25, 0.561);
	font-size: 25px;
}
h1,
h2 {
	font-size: 40px;
	color: rgb(99, 187, 187);
	line-height: 2;
	text-align: center;
	font-weight: 900;
	font-style: oblique;
	text-decoration: underline;
}
h2 {
	font-size: 30px;
}
.content {
	color: rgb(125, 100, 182);
}
.p2 {
	font-weight: 300;
	text-align: right;
}
.transition1-p1 {
	color: chocolate;
	font-size: 25px;
	text-decoration: line-through;
}
.transition1-p2 {
	font-family: "Comforter";
	text-transform: uppercase;
}
.transition1-m1 {
	text-decoration: overline;
}
.transition2-p1 {
	word-spacing: 10px;
	white-space: nowrap;
}
.transition3-p1 {
	font-weight: 900;
	text-align: justify;
	text-transform: capitalize;
}
.transition4-p1 {
	font-size: 40px;
	text-align: right;
	color: lawngreen;
}
.transition4-m1 {
	text-decoration: underline;
}
